<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.andon.provider.mapper.GradeMapper">


    <resultMap type="com.itl.mes.andon.api.entity.Grade" id="gradeMap">
        <result property="id" column="ID"/>
        <result property="bo" column="BO"/>
        <result property="site" column="SITE"/>
        <result property="andonGrade" column="ANDON_GRADE"/>
        <result property="state" column="STATE"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="modifyUser" column="MODIFY_USER"/>
        <result property="overTime" column="OVER_TIME"/>
        <result property="timeoutType" column="TIMEOUT_TYPE"/>
        <result property="workshopBo" column="WORKSHOP_BO"/>
        <result property="workshopName" column="WORKSHOP_NAME"/>
        <result property="andonTypeName" column="ANDON_TYPE_NAME"/>
        <result property="andonType" column="ANDON_TYPE"/>
    </resultMap>


</mapper>
