<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itl.mes.core.provider.mapper.RouterMapper">

           <!-- 通用查询映射结果 -->
<resultMap id="BaseResultMap" type="com.itl.mes.core.api.entity.Router">
<id column="BO" property="bo" />
<result column="SITE" property="site" />
<result column="ROUTER" property="router" />
<result column="ROUTER_TYPE" property="routerType" />
<result column="ROUTER_NAME" property="routerName" />
<result column="ROUTER_DESC" property="routerDesc" />
<result column="VERSION" property="version" />
<result column="STATE" property="state" />
<result column="VERSION" property="version" />
<result column="ITEM_BO" property="itemBo" />
<result column="CREATE_DATE" property="createDate" />
<result column="CREATE_USER" property="createUser" />
<result column="MODIFY_DATE" property="modifyDate" />
<result column="MODIFY_USER" property="modifyUser" />
</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BO, SITE, QUALITY_PLAN, QUALITY_PLAN_DESC,VERSION, IS_CURRENT_VERSION, CREATE_USER, CREATE_DATE, MODIFY_USER, MODIFY_DATE
    </sql>

    <update id="updateByRouter" parameterType="string">
        update m_router set IS_CURRENT_VERSION =0 where router=#{router}
    </update>
    <select id="isExistRouter" parameterType="string" resultType="int">
        select count(*) from m_operation_order where routre=#{router} and VERSION=#{version}
    </select>
    <select id="selectRouterBySfc" parameterType="string" resultType="com.itl.mes.core.api.entity.Router">
        select m.* from m_router m left join me_sfc n on n.SFC_ROUTER_BO = m.bo
        where n.sfc=#{sfc}
    </select>
</mapper>
