<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itl.mes.core.provider.mapper.SfcNcLogMapper">

    <update id="updateBySfc" parameterType="string">
        update me_sfc_nc_log set sfc=#{sonSfc} where sfc=#{parentSfc}
    </update>
</mapper>