<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itl.mes.core.provider.mapper.WorkShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.itl.mes.core.api.entity.WorkShop">
        <id column="BO" property="bo" />
        <result column="SITE" property="site" />
        <result column="WORK_SHOP" property="workShop" />
        <result column="WORK_SHOP_DESC" property="workShopDesc" />
        <result column="STATE" property="state" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="MODIFY_USER" property="modifyUser" />
        <result column="MODIFY_DATE" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BO, SITE, WORK_SHOP, WORK_SHOP_DESC, STATE, CREATE_USER, CREATE_DATE, MODIFY_USER, MODIFY_DATE
    </sql>

</mapper>
