<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.me.provider.mapper.InstructorOperationMapper">

    <select id="getOperations" resultType="com.itl.mes.core.api.entity.Operation">
        SELECT BO,
               SITE,
               OPERATION,
               VERSION,
               OPERATION_NAME,
               PRODUCTION_LINE_BO,
               OPERATION_DESC,
               STATE,
               IS_CURRENT_VERSION,
               OPERATION_TYPE,
               MAX_TIMES,
               REPEAT_TEST_TIMES,
               DEFAULT_NC_CODE_BO,
               NC_GROUP_BO,
               DEFAULT_STATION_BO,
               STATION_TYPE_BO
        FROM m_operation
        WHERE
            SITE = #{site}
        <if test="inState != null and inState != ''">
            AND
                BO ${inState}
            <foreach collection="operationBos" open="(" separator="," close=")" item="value">
                #{value}
            </foreach>
        </if>
    </select>
</mapper>
