<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.me.provider.mapper.MeSfcPackingDetailMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.itl.mes.me.api.entity.MeSfcPackingDetail" id="meSfcPackingDetailMap">
        <result property="bo" column="BO"/>
        <result property="site" column="SITE"/>
        <result property="sfcPackingBo" column="SFC_PACKING_BO"/>
        <result property="sfc" column="SFC"/>
    </resultMap>


</mapper>
