<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itl.mes.me.provider.mapper.MeSnMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.itl.mes.me.api.entity.MeSn" id="meSnMap">
        <result property="sn" column="SN"/>
        <result property="site" column="SITE"/>
        <result property="snTypeBo" column="SN_TYPE_BO"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="modifyDate" column="MODIFY_DATE"/>
        <result property="modifyUser" column="MODIFY_USER"/>
    </resultMap>


</mapper>
